<html>
  <head>
    <script type="text/javascript" src="/static/jquery.min.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/static/styles/layout.less" />
    {{#if style}}
      <link rel="stylesheet/less" type="text/css" href="/static/{{ style }}/{{ style }}.less" />
    {{/if}}
    <script src="/static/styles/less.env.js" type="text/javascript"></script>
    <script src="/static/styles/less.min.js" type="text/javascript"></script>
  </head>
  <body>
    <button type="button" onclick="window.close()">
      CLOSE
    </button>

    {{{content}}}
    
 </body>
</html>