<html>
  <head>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.min.css" />

    <link rel="stylesheet/less" type="text/css" href="/static/styles/layout.less" />
    {{#if style}}
      <link rel="stylesheet/less" type="text/css" href="/static/{{ style }}/{{ style }}.less" />
    {{/if}}
    <script src="/static/styles/less.env.js" type="text/javascript"></script>
    <script src="/static/styles/less.min.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- ================= -->

    <a href="{{homepage_uri}}">
      <h1>
        <img src="/static/images/banner.png" alt="{{ CONFIG.title }}" title="{{ CONFIG.title }}" />
      </h1>
    </a>

    
    <!-- ================= -->

    <div class="ui two item menu inverted nav">
      {{#each TYPES}}
        
        {{#ifCond this ../type}}
        <!-- 20240327-1834 修改名稱 -->
          <div class="active pink item">
            視覺模式
          </div>
        {{else}}
          <a href="{{../page}}/{{this}}" class="item">
              語意模式
          </a>  
        {{/ifCond}}
      {{/each}}
    </div>

    <!-- ================= -->

    <div class="ui grid">

      <div class="four wide column">
        <!-- 20240221 1548 修改註解 -->
        <div class="ui vertical fluid tabular menu">
         <!-- 20240327-1840 修改名稱 -->         
          {{#ifCond page "/plot"}}
            <div class="item active">
              分群結果頁面
            </div>
          {{else}}
            <a href="/plot/{{type}}" class="item">
              分群結果頁面
            </a>
          {{/ifCond}}

          {{#ifCond page "/patterns"}}
            <div class="item active">
              模式列表頁面
            </div>
          {{else}}
            <a href="/patterns/{{type}}" class="item">
              模式列表頁面
            </a>
          {{/ifCond}}
          
          {{#ifCond page "/items"}}
            <div class="item active">
              {{ pattern }} 單一模式頁面
            </div>
          {{else}}
            <div class="item disabled">
              單一模式頁面
            </div>
          {{/ifCond}}

          <div class="item disabled">
            原始貼文頁面
          </div>
        </div>

      </div>

      <!-- ================= -->
      <div class="twelve wide column">

        {{{content}}}

      </div>
    
    </div>
    
 </body>
</html>