<html>
  <head>
    <script type="text/javascript" src="/static/jquery.min.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/static/styles/layout.less" />
    {{#if style}}
      <link rel="stylesheet/less" type="text/css" href="/static/{{ style }}/{{ style }}.less" />
    {{/if}}
    <script src="/static/styles/less.env.js" type="text/javascript"></script>
    <script src="/static/styles/less.min.js" type="text/javascript"></script>
  </head>
  <body>
    <!-- ================= -->

    <a href="{{homepage_uri}}">
      <h1>
        <img src="/static/images/banner.png" alt="{{ CONFIG.title }}" title="{{ CONFIG.title }}" />
      </h1>
    </a>

    
    <!-- ================= -->
    <hr />

    <div class="nav">
      {{#each TYPES}}
        <div class="item">
        {{#ifCond this ../type}}
          {{this}}
        {{else}}
          <a href="{{../page}}/{{this}}" class="item">{{this}}</a>  
        {{/ifCond}}
        </div>
      {{/each}}
    </div>

    <!-- ================= -->
    <hr />

    <div class="subnav">
      
      {{#ifCond page "/plot"}}
        <div class="item active">
          Plot
        </div>
      {{else}}
        <a href="/plot/{{type}}" class="item">
          Plot
        </a>
      {{/ifCond}}

      {{#ifCond page "/patterns"}}
        <div class="item active">
          Patterns
        </div>
      {{else}}
        <a href="/patterns/{{type}}" class="item">
          Patterns
        </a>
      {{/ifCond}}
      
      {{#ifCond page "/items"}}
        <div class="item active">
          {{ pattern }} Items
        </div>
      {{else}}
        <div class="item disabled">
          Items
        </div>
      {{/ifCond}}

      <div class="item disabled">
        Post
      </div>
    </div>

    <!-- ================= -->
    <hr />

    {{{content}}}
    
 </body>
</html>